@import url('https://fonts.cdnfonts.com/css/gotham');

/* .cabecalho::selection{
    background-color: #ffe45c;
    color: #242424;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gotham', sans-serif;
}

header{
    position: absolute;
    z-index: 9999;
    background: rgba(39,39,39,.6);
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(6px);
}

body main{
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.cabecalho {
    background-color: transparent;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.cabecalho-imagem{
    padding-left: 40px;

}

.cabecalho-menu {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 40px;

}

.cabecalho-menu-item {
    font-family: 'Gotham', sans-serif;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
}

.cabecalho-menu-item:hover{
    border-bottom: 0.6px solid #c44148;
    transform: translate(-3px, -3px);
    transition: transform .5s;
}

.cabecalho-menu-item-botao{
    background-color: #c44148;
    width: 250px;
    height: 48px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    color: white;
}

.cabecalho-menu-item-botao:hover {
    background-color: #FFFFFF;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    color: black;
    transform: translate(-3px, -3px);
    transition: transform .5s;
}

.conteudo {
    margin-bottom: 20px;
}

.conteudo-principal {
    padding-top: 12em;
    padding-left: 3.5em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.conteudo-principal-escrito {
display: flex;
flex-direction: column;
justify-content: left;
gap: 48px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Gotham', sans-serif;
    padding-left: 5px;
    font-weight: 200;
    font-size: 46px;
    color: #FFFFFF;
}


.conteudo-principal-escrito-subtitulo {
    font-family: 'Gotham', sans-serif;
    padding-left: 5px;
    font-weight: 200;
    font-size: 26px;
    color: #FFFFFF;
}


.conteudo-principal-botao{
    background-image: linear-gradient(90deg, rgb(242, 92, 132), rgb(140, 7, 43));
    width: 310px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Gotham', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.conteudo-principal-botao:hover {
    background-color: rgb(255, 255, 255);
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    transform: translate(-3px, -3px);
    transition: transform .5s;
}

.beneficios{
    display: flex;
    padding: 60px 60px;
    background-color: #fff;
    justify-content: space-around;
}

.icones{
    padding-inline: 150px
}

.portfolio{
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 1.5em;
}

.portfolio-desc{
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
}